@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Mobile screens - Minimum width of 375px */

@media only screen and (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    background-color: #fff;
  }

  header a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 128%;
    color: #6070ff;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 7%;
  }

  .grid-1b {
    display: none;
  }

  header a:hover {
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    text-decoration-thickness: 0.125;
  }

  header nav {
    width: 10%;
    display: flex;
    align-items: center;
  }

  .flex-container2 {
    display: none;
  }

  .background {
    background-image: url("/images/background.jpg");
    background-color: #fff;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 100vw;
    height: 90vh;
    width: 100%;
    border-bottom-left-radius: 4rem;
  }

  .background h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #172b4d;
    line-height: 3.25rem;
    text-align: start;
    margin: 0 7%;
    width: 60%;
  }

  .background p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #344563;
    margin: 3% 7%;
  }

  .item3 p {
    font-weight: 400;
    color: #344563;
  }

  .option1 p {
    margin-left: 7%;
  }

  .option2 p {
    margin-left: 7%;
  }

  .option3 p {
    margin-left: 7%;
  }

  .form p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #fff;
    text-align: center;
  }

  .background p:hover {
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    text-decoration-thickness: 0.125rem;
  }

  summary h3 {
    display: inline;
    margin-left: 9%;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
  }

  .item1 h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.813rem;
    line-height: 2.25rem;
    color: #172b4d;
    margin: 0;
  }

  .background h1:hover {
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    text-decoration-thickness: 0.125rem;
  }

  .media h3 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #7f8cff;
    margin-left: 7%;
  }

  .media h3:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.125rem;
    text-decoration-color: #23a3fa;
  }

  .background .media {
    display: flex;
    flex-direction: column;
  }

  details ul {
    margin-left: 7%;
    margin-top: 2.25rem;
  }

  .socials ul {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-left: 7%;
  }

  li {
    list-style-type: none;
  }

  .icon {
    margin-right: 5%;
  }

  .icon:hover {
    background-color: #23a3fa;
  }

  .grid-container {
    font-family: "Poppins", sans-serif;
    display: grid;
    justify-content: space-evenly;
  }

  .grid-item {
    margin-top: 30%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 4%;
    border: 0.063rem solid #dfe1e6;
    width: 20.438rem;
    height: 34.5rem;
    align-items: center;
    padding: 1rem;
    gap: 0.75rem;
  }

  .item2 {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 0.813rem;
    color: #7a869a;
  }

  .point {
    width: 0.5rem;
    height: 0.5rem;
    background: #c1c7d0;
    border-radius: 50%;
  }

  .canopy {
    font-family: "Poppins", sans-serif;
    color: #344563;
  }

  .item4 {
    width: 70%;
  }

  .item4 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  details ul li {
    color: #253858;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.938rem;
    display: flex;
    align-items: center;
    background: #f7f7f9;
    width: 18.938rem;
    height: 4.17rem;
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
    padding-left: 3%;
  }

  .item4 ul li {
    text-align: center !important;
    padding: 0.25rem 0.75rem;
    color: #6070ff;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    width: auto;
    height: 1.5rem;
    background: #ebebff;
    border-radius: 0.5rem;
  }

  .item5 button {
    width: 50%;
    height: 3rem;
    color: #396df2;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    background-color: #fff;
    font-size: 1.063rem;
    border: 0.063rem solid #6070ff;
    border-radius: 0.5rem;
  }

  .resume button {
    width: 50%;
    height: 3rem;
    color: #396df2;
    font-family: "Poppins", sans-serif;
    font-style: bold;
    font-weight: 500;
    background-color: #fff;
    font-size: 1.063rem;
    border: 0.063rem solid #6070ff;
    border-radius: 0.5rem;
    margin-left: 7%;
  }

  .item5 button:enabled {
    cursor: pointer;
    background: #fff;
    border: 0.063rem solid #7f8cff;
    border-radius: 0.5rem;
    color: #6070ff;
  }

  .item5 button:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    background: #6070ff;
    box-shadow: 0 0.5rem 1rem rgba(64, 83, 252, 0.24);
  }

  .item5 button:active {
    color: #fff;
    background: #2230d2;
  }

  .grid-item:nth-child(4n) {
    height: 37.25rem;
  }

  .grid-item:nth-child(4n-2) {
    height: 37.25rem;
  }

  .about {
    height: auto;
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 4rem;
    margin-top: 30%;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .about-title {
    margin-left: 7%;
    color: #172b4d;
    font-weight: 700;
    font-size: 2.5rem;
    align-items: flex-end;
    padding-top: 20%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .about-description {
    margin-left: 7%;
    color: #344563;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 90%;
  }

  .about ul {
    padding: 0;
  }

  .resume button:enabled {
    cursor: pointer;
    background: #fff;
    border: 0.063rem solid #7f8cff;
    border-radius: 0.5rem;
    color: #6070ff;
  }

  .resume button:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    background: #6070ff;
    box-shadow: 0 0.5rem 1rem rgba(64, 83, 252, 0.24);
  }

  .resume button:active {
    color: #fff;
    background: #2230d2;
  }

  summary {
    display: block;
    cursor: pointer;
    list-style: none;
    margin-top: 10%;
  }

  summary::after {
    color: #acb7c3;
    size: 5rem;
    font-size: 2rem;
    position: absolute;
    left: 80%;
    transition: 0.2s;
    content: "\203A";
    align-items: center;
  }

  details ul li img {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    margin-right: 7%;
  }

  hr {
    border: 0;
    clear: both;
    display: block;
    width: 85%;
    background: #dfe1e6;
    height: 0.063rem;
    margin-top: 5%;
  }

  /* Added a Contact Form section */

  .contact {
    background-color: #fff;
    position: absolute;
  }

  .background2 {
    width: 100%;
    background-image: url(./images/blue-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40%;
    height: 100%;
    padding-top: 20%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: #fff;
  }

  .form h2:hover {
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    text-decoration-thickness: 0.125;
  }

  .name,
  .email {
    background: #fff;
    border: 0.063rem solid #cfd8dc;
    border-radius: 0.5rem;
    width: 80%;
    height: 3rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 1.25rem;
  }

  .name {
    margin: 2.625rem 0 0 0;
    padding-left: 1rem;
  }

  .name:hover {
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    text-decoration-thickness: 0.125;
  }

  .email {
    margin: 1.25rem 0 0 0;
    padding-left: 1rem;
  }

  .email:hover {
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    text-decoration-thickness: 0.125;
  }

  .text {
    border: 0.063rem solid #cfd8dc;
    border-radius: 0.5rem;
    margin: 1.25rem 0 0 0;
    width: 80%;
    height: 9.375rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 1.25rem;
    padding: 1.25rem 0 0 1rem;
  }

  .text:hover {
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    text-decoration-thickness: 0.125;
  }

  .name::placeholder {
    color: #b3bac5;
  }

  .email::placeholder {
    color: #b3bac5;
  }

  .text::placeholder {
    color: #b3bac5;
  }

  .submit {
    padding: 0.75rem 1rem;
    margin: 1.25rem 0 20% 9%;
    background: #fff;
    border-radius: 0.5rem;
    border: none;
    color: #6070ff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.063rem;
  }

  .submit:enabled {
    cursor: pointer;
    background: #fff;
    border: 0.063rem solid #7f8cff;
    border-radius: 0.5rem;
    color: #6070ff;
  }

  .submit:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    background: #6070ff;
    box-shadow: 0 0.5rem 1rem rgba(64, 83, 252, 0.24);
  }

  .submit:active {
    color: #fff;
    background: #2230d2;
  }

  .inputs {
    margin-left: 9%;
  }

  .languages4 img {
    display: none;
  }
}

/* Desktop Screen Minimum width: 768px */

@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
  }

  .container1 {
    display: none;
  }

  .flex-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1% 5% 0 5%;
  }

  .logo {
    width: 76px;
    height: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    text-decoration: none;
  }

  .nav-links {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    list-style: none;
    display: flex;
  }

  .nav-links li a {
    margin-left: 2rem;
    text-decoration: none;
    color: #344563;
  }

  .flex-container3 {
    background-color: #fff;
    height: 80vh;
    border-bottom-left-radius: 10%;
  }

  .background {
    background-image: url(./images/desktop.jpg);
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    padding-left: 280px;
    padding-top: 225px;
  }

  .background h1 {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
    width: 40%;
  }

  .background p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    width: 80%;
  }

  summary h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #344563;
  }

  .media h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .media ul {
    margin: 0;
    padding: 0;
    display: flex;
  }

  details ul li {
    color: #253858;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.938rem;
    display: flex;
    flex-direction: column;
    background: #f7f7f9;
    width: 122px;
    height: 120px;
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
    margin-right: 1.2rem;
    margin-top: 1.2rem;
  }

  .flex2 li {
    list-style: none;
    margin-right: 1.5rem;
  }

  .flex1 li {
    list-style-type: none;
  }

  .media ul li {
    list-style: none;
  }

  .media ul li a {
    margin-right: 1rem;
    text-decoration: none;
    color: #505f79;
  }

  .grid-item {
    margin-top: 142px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 24px;
    border: 0.063rem solid #dfe1e6;
    width: 1156px;
    height: 34.5rem;
    padding: 1rem;
    gap: 0.75rem;
    display: flex;
  }

  details ul li img {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    margin-right: 7%;
    padding: 13% 0 12% 2%;
  }

  .item1 img {
    width: 544px;
    height: 448px;
    left: 24px;
    top: 24px;
  }

  .grid-container {
    display: none;
  }

  /* Work Section */
  .works {
    margin: 50px 0 50px 0;
    width: 100%;
  }

  .grid-1 {
    display: none;
  }

  .grid-1b {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .rows {
    width: 80%;
    margin: 150px auto 20px auto;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    border: solid 1px #dfe1e6;
    border-radius: 24px;
    display: flex;
    gap: 20px;
  }

  .work1b {
    background-color: #fff;
    width: 50%;
    padding: 20px auto auto 20px;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
  }

  .photo1 {
    box-sizing: border-box;
    width: 50%;
    height: auto;
    padding: 10px 10px 10px 10px;
  }

  .photo2 {
    box-sizing: border-box;
    width: 50%;
    height: auto;
    padding: 10px 10px 10px 10px;
  }

  .work1b-img {
    max-width: 100%;
    height: auto;
    object-fit: resize;
  }

  .work-text1b {
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    color: #172b4d;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
  }

  .work-text1 {
    margin-top: 8px;
    font-size: 32px;
    color: #172b4d;
    width: 70%;
    margin-left: 5%;
    margin-bottom: 10px;
  }

  .canopy {
    color: #344563;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin: 5px 10px 5px 0;
  }

  .bed,
  .year {
    color: #6b778c;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-right: 1.2rem;
  }

  .desc2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #344563;
    margin-bottom: 10px;
    width: 90%;
    font-family: "Poppins", sans-serif;
  }

  .dot {
    margin: 0;
    padding: 0;
    width: 60%;
    height: auto;
  }

  .stack {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
    float: left;
    background-color: #ebebff;
    padding: 4px 12px 4px 12px;
    border-radius: 6px;
  }

  .flex1,
  .flex2 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  .see-project {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    color: #396df2;
    border: solid 1px #396df2;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 10%;
    border-radius: 8px;
  }

  .see-project:hover {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #6070ff;
    color: #fff;
    border: solid 1px #fff;
    padding: 12px;
    border-radius: 4px;
  }

  .see-project:focus {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #6070ff;
    color: #fff;
    border: solid 1px #fff;
    padding: 12px;
    border-radius: 4px;
  }

  .see-project:active {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #2230d2;
    color: #fff;
    border: solid 1px #fff;
    padding: 12px;
    border-radius: 4px;
  }

  .work1-img {
    display: block;
    width: 90%;
    height: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .about {
    height: auto;
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 4rem;
    margin-top: 7%;
    padding-bottom: 10%;
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-gap: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 40% 60%;
    padding-top: 7%;
  }

  .about2 {
    margin-left: 20%;
  }

  .about-title {
    color: #172b4d;
    font-weight: 700;
    font-size: 2.5rem;
    align-items: flex-end;
    padding-top: 2%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .about-description {
    color: #344563;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 90%;
  }

  .about ul {
    padding: 0;
    margin-bottom: 4%;
    margin-left: 1%;
  }

  .languages3 {
    display: flex;
  }

  .details ul {
    margin-left: 7%;
    margin-top: 2.25rem;
  }

  summary {
    display: block;
    cursor: pointer;
    list-style: none;
    margin-top: 5%;
  }

  summary::after {
    color: #acb7c3;
    size: 5rem;
    font-size: 2rem;
    position: absolute;
    left: 80%;
    transition: 0.2s;
    align-items: center;
  }

  .languages ul li {
    list-style: none;
    padding-left: 5%;
  }

  /* Added a Contact Form section */

  .contact {
    background-color: #fff;
    height: auto;
  }

  .background2 {
    width: 100%;
    background-image: url(./images/background3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding-top: 5%;
  }

  .form {
    height: auto;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    width: 35%;
  }

  .paragraph3 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    text-align: center;
  }

  .form h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: #fff;
  }

  .form h2:hover {
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    text-decoration-thickness: 0.125;
  }

  .name,
  .email {
    background: #fff;
    border: 0.063rem solid #cfd8dc;
    border-radius: 0.5rem;
    width: 80%;
    height: 3rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 1.25rem;
  }

  .name {
    margin: 2.625rem 0 0 0;
    padding-left: 1rem;
  }

  .name:hover {
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    text-decoration-thickness: 0.125;
  }

  .email {
    margin: 1.25rem 0 0 0;
    padding-left: 1rem;
  }

  .email:hover {
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    text-decoration-thickness: 0.125;
  }

  .text {
    border: 0.063rem solid #cfd8dc;
    border-radius: 0.5rem;
    margin: 1.25rem 0 0 0;
    width: 80%;
    height: 9.375rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 1.25rem;
    padding: 1.25rem 0 0 1rem;
  }

  .text:hover {
    text-decoration: underline;
    text-decoration-color: #23a3fa;
  }

  .name::placeholder {
    color: #b3bac5;
  }

  .email::placeholder {
    color: #b3bac5;
  }

  .text::placeholder {
    color: #b3bac5;
  }

  .submit {
    padding: 0.75rem 1rem;
    margin: 1.25rem 0 20% 0;
    background: #fff;
    border-radius: 0.5rem;
    border: none;
    color: #6070ff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.063rem;
  }

  .submit:enabled {
    cursor: pointer;
    background: #fff;
    border: 0.063rem solid #7f8cff;
    border-radius: 0.5rem;
    color: #6070ff;
  }

  .submit:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    background: #6070ff;
    box-shadow: 0 0.5rem 1rem rgba(64, 83, 252, 0.24);
  }

  .submit:active {
    color: #fff;
    background: #2230d2;
  }

  .inputs {
    margin-left: 11%;
    align-items: center;
  }

  hr {
    background: #dfe1e6;
    width: 70%;
    margin: 0;
  }

  .languages4 {
    display: flex;
    align-items: center;
  }

  .languages4 img {
    margin-left: 35%;
    position: absolute;
  }

  #image2 {
    margin-left: 10%;
  }

  #image4 {
    margin-left: 10%;
  }
}
