@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Desktop Screen Minimum width: 768px */

@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
  }

  .web-nav {
    display: none;
  }

  .container1 {
    display: none;
  }

  .flex-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1% 5% 0 5%;
  }

  .logo {
    width: 4.75rem;
    height: 1.25rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.25rem;
    color: #6070ff;
    text-decoration: none;
  }

  .nav-links {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.938rem;
    line-height: 1.25rem;
    color: #344563;
    list-style: none;
    display: flex;
  }

  .nav-links li a {
    margin-left: 2rem;
    text-decoration: none;
    color: #344563;
  }

  .flex-container3 {
    background-color: #fff;
    height: 80vh;
    border-bottom-left-radius: 10%;
  }

  .background {
    background-image: url(../images/desktop.jpg);
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    padding-left: 15%;
    padding-top: 15%;
  }

  .background h1 {
    margin: 0;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.75rem;
    color: #091e42;
    width: 40%;
  }

  .background p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #344563;
    width: 70%;
  }

  summary h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    color: #344563;
  }

  .media h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #7f8cff;
  }

  .media ul {
    margin: 0 0 0 0;
    padding: 0;
    display: flex;
  }

  details ul li {
    color: #253858;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.938rem;
    display: flex;
    flex-direction: column;
    background: #f7f7f9;
    width: 7.625rem;
    height: 7.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
    margin-right: 1.2rem;
    margin-top: 1.2rem;
  }

  .flex2 li {
    list-style: none;
    margin-right: 1.5rem;
  }

  .flex1 li {
    list-style-type: none;
  }

  .navbar3 li {
    display: block;
    margin: 0;
    padding: 14px 20px;
    width: 100%;
    transition: background-color 0.5s;
  }

  .media ul li {
    list-style: none;
  }

  .navbar3 li a {
    color: #d3e3e3;
    text-decoration: none;
    padding: 14px 16px;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    transition: all 1s;
  }

  .media ul li a {
    margin-right: 1rem;
    text-decoration: none;
    color: #505f79;
  }

  .grid-item {
    margin-top: 8.875rem;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 1.5rem;
    border: 0.063rem solid #dfe1e6;
    width: 72.25rem;
    height: 34.5rem;
    padding: 1rem;
    gap: 0.75rem;
    display: flex;
  }

  details ul li img {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    margin-right: 7%;
    padding: 13% 0 12% 2%;
  }

  .item1 img {
    width: 34rem;
    height: 28rem;
    left: 1.5rem;
    top: 1.5rem;
  }

  .grid-container {
    display: none;
  }

  /* Work Section */
  .works {
    margin: 3.125rem 0 3.125rem 0;
    width: 100%;
  }

  .grid-1 {
    display: none;
  }

  .grid-1b {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .rows {
    width: 80%;
    margin: 9.375rem auto 1.25rem auto;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    background-color: #fff;
    border: solid 0.063rem #dfe1e6;
    border-radius: 1.5rem;
    display: flex;
    gap: 1.25rem;
  }

  .work1b {
    background-color: #fff;
    width: 50%;
    padding: 1.25rem auto auto 1.25rem;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
  }

  .photo1 {
    box-sizing: border-box;
    width: 50%;
    height: auto;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
  }

  .photo2 {
    box-sizing: border-box;
    width: 50%;
    height: auto;
    padding: 0.625rem 0.625rem 0.625rem 2rem;
  }

  .work1b-img {
    max-width: 100%;
    height: auto;
    object-fit: resize;
  }

  .work-text1b {
    font-size: 2.5rem;
    line-height: 3.25rem;
    font-weight: 700;
    color: #172b4d;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
  }

  .work-text1 {
    margin-top: 0.5rem;
    font-size: 2rem;
    color: #172b4d;
    width: 70%;
    margin-left: 5%;
    margin-bottom: 0.625rem;
  }

  .canopy {
    color: #344563;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin: 0.313rem 0.625rem 0.313rem 0;
  }

  .bed,
  .year {
    color: #6b778c;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-right: 1.2rem;
  }

  .desc2 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #344563;
    margin-bottom: 0.625rem;
    width: 90%;
    font-family: "Poppins", sans-serif;
  }

  .dot {
    margin: 0;
    padding: 0;
    width: 60%;
    height: auto;
  }

  .stack {
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #6070ff;
    float: left;
    background-color: #ebebff;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    border-radius: 0.375rem;
  }

  .flex1,
  .flex2 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  .see-project {
    font-family: "Poppins", sans-serif;
    font-size: 1.063rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    color: #396df2;
    border: solid 0.063rem #396df2;
    padding: 0.75rem;
    margin-top: 0.938rem;
    margin-bottom: 10%;
    border-radius: 0.5rem;
  }

  .see-project:hover {
    font-size: 1.063rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #6070ff;
    color: #fff;
    border: solid 0.063rem #fff;
    padding: 0.75rem;
    border-radius: 0.25rem;
  }

  .see-project:focus {
    font-size: 1.063rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #6070ff;
    color: #fff;
    border: solid 0.063rem #fff;
    padding: 0.75rem;
    border-radius: 0.25rem;
  }

  .see-project:active {
    font-size: 1.063rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #2230d2;
    color: #fff;
    border: solid 0.063rem #fff;
    padding: 0.75rem;
    border-radius: 0.25rem;
  }

  .work1-img {
    display: block;
    width: 90%;
    height: auto;
    margin-top: 0.938rem;
    margin-left: auto;
    margin-right: auto;
  }

  .about {
    height: auto;
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 4rem;
    margin-top: 7%;
    padding-bottom: 10%;
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-gap: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 40% 60%;
    padding-top: 7%;
  }

  .about2 {
    margin-left: 20%;
  }

  .about-title {
    color: #172b4d;
    font-weight: 700;
    font-size: 2.5rem;
    align-items: flex-end;
    padding-top: 2%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .about-description {
    color: #344563;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 90%;
  }

  .about ul {
    padding: 0;
    margin-bottom: 4%;
    margin-left: 1%;
  }

  .languages3 {
    display: flex;
  }

  .details ul {
    margin-left: 7%;
    margin-top: 2.25rem;
  }

  summary {
    display: block;
    cursor: pointer;
    list-style: none;
    margin-top: 5%;
  }

  summary::after {
    color: #acb7c3;
    size: 5rem;
    font-size: 2rem;
    position: absolute;
    left: 80%;
    transition: 0.2s;
    align-items: center;
  }

  .languages ul li {
    list-style: none;
    padding-left: 5%;
  }

  /* Added a Contact Form section */

  .contact {
    background-color: #fff;
    height: auto;
  }

  .background2 {
    width: 100%;
    background-image: url(../images/background3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding-top: 5%;
  }

  .form {
    height: auto;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    width: 35%;
  }

  .paragraph3 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #ebebff;
    text-align: center;
  }

  .form h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: #fff;
  }

  .form h2:hover {
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    text-decoration-thickness: 0.125;
  }

  .name,
  .email {
    background: #fff;
    border: 0.063rem solid #cfd8dc;
    border-radius: 0.5rem;
    width: 80%;
    height: 3rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 1.25rem;
  }

  .name {
    margin: 2.625rem 0 0 0;
    padding-left: 1rem;
  }

  .name:hover {
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    text-decoration-thickness: 0.125;
  }

  .email {
    margin: 1.25rem 0 0 0;
    padding-left: 1rem;
  }

  .email:hover {
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    text-decoration-thickness: 0.125;
  }

  .text {
    border: 0.063rem solid #cfd8dc;
    border-radius: 0.5rem;
    margin: 1.25rem 0 0 0;
    width: 80%;
    height: 9.375rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 1.25rem;
    padding: 1.25rem 0 0 1rem;
  }

  .text:hover {
    text-decoration: underline;
    text-decoration-color: #23a3fa;
  }

  .name::placeholder {
    color: #b3bac5;
  }

  .email::placeholder {
    color: #b3bac5;
  }

  .text::placeholder {
    color: #b3bac5;
  }

  .submit {
    padding: 0.75rem 1rem;
    margin: 1.25rem 0 20% 0;
    background: #fff;
    border-radius: 0.5rem;
    border: none;
    color: #6070ff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.063rem;
  }

  .submit:enabled {
    cursor: pointer;
    background: #fff;
    border: 0.063rem solid #7f8cff;
    border-radius: 0.5rem;
    color: #6070ff;
  }

  .submit:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #23a3fa;
    background: #6070ff;
    box-shadow: 0 0.5rem 1rem rgba(64, 83, 252, 0.24);
  }

  .submit:active {
    color: #fff;
    background: #2230d2;
  }

  .inputs {
    margin-left: 11%;
    align-items: center;
  }

  hr {
    background: #dfe1e6;
    width: 70%;
    margin: 0;
  }

  .languages4 {
    display: flex;
    align-items: center;
  }

  .languages4 img {
    margin-left: 35%;
    position: absolute;
  }

  .navbar3 {
    background-color: #333;
    width: 100%;
    height: 45vh;
    display: none;
  }

  .navbar3 ul {
    overflow: hidden;
    list-style-type: none;
    padding-top: 3%;
    padding-left: 30%;
    padding-right: 3%;
    padding-bottom: 3%;
    margin: 0;
  }

  .navbar3 li:hover {
    cursor: pointer;
    background-color: #ce3939;
    letter-spacing: 0px;
  }
}
